select:focus, input:focus, button:focus, .cke_browser_webkit.cke_focus, a:focus, textarea:focus {
    outline-style: dashed;
    outline-color: #446cb3;
    outline-offset: 2px;
    outline-width: 2px
}

#mainarea:focus, #mainarea2:focus {
    outline-style: dashed;
    outline-color: #446cb3;
    outline-offset: -2px;
    outline-width: 2px
}