

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}



html,
body {
  height: 100%;
}

.main-body {
  font-size: 16px;
  color: #626C72;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F6F8;
  -webkit-text-size-adjust: 100%;
}

.text-row {
  padding: 12px 0;
  font-weight: 600;
}

.heading1 {
  font-size: 28px;
  color: #fff;
  line-height: 42px;
  font-weight: 400;
}

.smaller {
  font-size: 14px;
}

.small {
  font-size: 13px;
}

.thin-text {
  font-weight: 400;
}

.pt-font {
  font-family: 'PT Sans', sans-serif;
}

.full {
  width: 100%;
}

.link {
  color: #176c9a;
}

.link:hover {
  color: #105174;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.bttn {
  padding: 11px 30px;
  border-radius: 4px;
  border: 1px solid #011D45;
  background-color: #011D45;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  font-family: "Open Sans";
}

.bttn:hover,
.bttn:focus 
{
    background-color: #2A4266;
}

.bttn.button-small {
  padding: 8px 44px;
  font-size: 14px;
}

.bttn.button-white-blue {
  border: 1px solid #D8E4EB;
  background-color: #fff;
  color: #176c9a;
}

.bttn.button-white-blue:hover {
  background-color: #D8E4EB;
}

.bttn.button-white-green {
  border: none;
  background-color: #fff;
  color: #47BB7E;
}

.bttn.button-white-green:hover {
  background-color: #55C088;
  color: #fff;
}

.bttn.button-with-icon {
  position: relative;
  padding-left: 70px;
  padding-right: 13px;
  background-color: #4285F4;
  border: 1px solid #3063B7;
  overflow: hidden;
}

.bttn.button-with-icon:hover {
  background-color: #3063B7;
}

.bttn.button-with-icon:before {
  content: ' ';
  position: absolute;
  top: -1px;
  left: 0;
  width: 56px;
  height: 46px;
  background-color: #fff;
  border-right: 1px solid #3063B7;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}

.input-field {
  border-radius: 4px;
  border: 1px solid #D8E4EB;
  padding: 14px 8px;
  font-size: 16px;
  margin: 6px 0 15px 0;
  max-width: calc(100% - 16px);
}



.logo {
  display: block;
  margin: 0 auto;
  width: 272px;
}

.login {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.login .half-screen {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 50%;
}

.login .half-screen.left-side {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F6F8 url("/contents/images/left_bg.jpg");
}

.login .half-screen.right-side {
  background: #F5F6F8 url("/contents/images/right_bg.jpg") right bottom no-repeat;
  background-size: cover;
  text-align: left;
}

.login .half-screen.right-side .logo {
  margin: 80px 0 20px 80px;
  width: 311px;
}

.login .half-screen.right-side .heading1 {
  margin: 0 20px 20px 110px;
  max-width: 600px;
}

.login .half-screen.right-side .bttn{
  margin: 18px 0 0 110px;
  min-width: 220px;
}

.login-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 395px;
  margin: 0 auto;
  position: relative;
}

.login-wrapper .login-box {
  padding: 35px 20px 23px 20px;
  border-radius: 4px;
  border: 1px solid #D8E4EB;
  background-color: #fff;
  margin: 15px 0 7px;
}

.login-wrapper .login-box .login-form .bttn {
  margin: 10px 0;
}

.footer {
  font-size: 0.7em;
  width: 100%;
  bottom: 0;
  color:#FFFFFF;
}

.alert {
    padding: 20px;
    background-color: #F05522;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}




@media all and (max-width: 1280px) {
  .login .half-screen.right-side .logo {
    margin: 40px 0 20px 30px;
  }

  .login .half-screen.right-side .heading1 {
    margin: 0 20px 20px 55px;
  }

  .login .half-screen.right-side .bttn {
    margin: 30px 0 0 55px;
  }
}

@media all and (max-width: 1100px) {
  .half-screen.right-side {
    display: none;
  }

  .half-screen.left-side {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .logo {
    width: 234px;
  }
}

@media all and (max-height: 675px) {
  body {
    overflow: auto;
  }

  .half-screen.right-side {
    display: none;
  }

  .half-screen.left-side {
    width: 100%;
  }

  .login {
    display: block;
  }
}

.successBox {
    border: 1px solid #4F8A10;
    padding: 10px 10px 10px 55px;
    color: #4F8A10;
    background: #FFF url(/contents/images/box-success.gif) left center no-repeat;
    background-position: 15px;
    margin-bottom: 15px;
}


.errorBox {
    border: 1px solid #ff0000;
    padding: 10px 10px 10px 55px;
    color: #D63301;
    background: #FFF url(/contents/images/box-validation.gif) left center no-repeat;
    background-position: 15px;
    margin-bottom: 15px;
}

.errorBox p,
.successBox p
{
    padding: 0 0 5px 0;
}

.errorBox ul,
.successBox ul
{
    margin: 0 0 0 25px;
    list-style-type: disc;
}

.errorBox ul li,
.successBox ul li
{
    padding: 0 0 5px 0;
}

.error_label {
    color: #f00;
}

.error_field {
    border: 1px solid #f00;
}

a.accessibility-skiptomain {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a.accessibility-skiptomain:focus {
    background: #e6e6e6;
    color: #0067b8;
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px;
    width: auto;
    height: auto;
    overflow: auto;
    right: 0;
    text-decoration: underline;
    text-align: center;
    z-index: 800;
    outline: none;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('/contents/images/ajax-loader.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}