#wrapdoc {min-width: 1200px;}
#wraphdr, #wrapcontent, #wrapwrapfooter {position: relative; clear: both; overflow: visible;}
table#page {width: 100%; padding: 0; margin: 0; border: 0; border-spacing: 0;}
#wrapcontent {padding: 15px;}
html, body, table, td {margin: 0; padding: 0; border: 0; border-spacing: 0; font-size: 16px; line-height: 1.4em; text-rendering: optimizeLegibility;} 
td {padding: 0;}
p, ol, ul {margin:0; padding: 10px 0 0 0; font-weight: normal;} 
h1, h2, h3, h4, h5, h6 {margin:0; padding: 10px 0 0 0; font-weight: 400;} 
ol {margin-left:5px;} 
ul ul, ol ol {padding: 0; margin: 0 0 0 15px;} 
li {margin: 0 0 0 20px; padding: 0 0 0 0;} 

blockquote {padding: 0 0 0 10px; margin: 0;} 


a {color: #8C1515;}
a:link, a:visited {text-decoration: none;}
a:hover, a:active {text-decoration: underline;}
a img {border: none;} 
a.Links {font-size:12px;}



.topnav-active  {color:#ff0000;font-weight:600;}
.topnav  {color:#0000ff;}


#wraphdr ul, #wraphdr li {padding:0; margin: 0;}
#wraphdr li {display: block; list-style-type: none; float: left;} 


#wrapbcrmbs  {position: relative; overflow: hidden;}
.breadcrumbs {float: left;} 
.sectiongroup{float: right;}


ul.tabs {clear:both; overflow:hidden; float:right;}
ul.tabs li {display: inline; list-style-type: none; margin-right: 10px;} 
ul.tabs li {float: left; margin: 0 0 0 1px; right:0;}
ul.tabs li a {display: block; padding: 3px 5px 2px 5px; background: #333;}

.tabContent {overflow:visible; clear:both;} 


.linklist {margin: 0 10px 0 10px; width: 130px;}
.linklist h4 {border-bottom: 1px solid; padding-bottom: 1px;}
.linklist ul {padding:0; margin:0; border-right: 1px solid;}
.linklist li {list-style-type: none; margin:0; border-bottom: 1px solid; border-left: 1px solid;} 
.linklist li a {display: block; padding: 1px;}
.linklist marquee {border: 1px solid; padding: 2px;}


.quicksearch {position: absolute; right:8px; top:16px;} 
head+body .quicksearch {position: absolute; bottom:3px; right:0; top:auto;} 

.title h3 {position: absolute;} 


table#menuTbl {
     height: 100%;
     margin-top:7px;
}

table#menuTbl tr {
     vertical-align: middle;
}

table#menuTbl th {padding: 7px 20px 5px 20px;}
table#menuTbl th:hover {color: #ddd;}

.menu {
     padding: 5px;
     position: relative;
     overflow: hidden;
     float: right;
}

.tExecSumm .menu {overflow: visible;}

.menu .btnMenu a {
     text-decoration: none;
}

.btnMenu {
     text-decoration: none;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
}

.btnMenu a {
     text-decoration: none;
     color: #FFFFFF;
     font-weight: 600;
}

.btnMenu a:hover {
     text-decoration: none;
}




form {margin:0; padding:0;}
input, textarea {background-color: #F6F6F6; padding: 2px; padding-right: 0px;}
input:hover, textarea:hover, input.sfhover, textarea.sfhover {background-color: #fff;}
input:focus, textarea:focus, input.sffocus, textarea.sffocus {background-color: #fff;}
input.button {padding:0;}
input.radio, input.checkbox {background-color: #fff; border: none;}
input, textarea {border: 1px solid #CDCDCD; margin: 0 2px 0 0;}
*html input, textarea {border: 1px solid #CDCDCD; margin: 0 0 0 0;}
select {margin: 0 2px 0 0; font-size: 16px;}
*html select {margin: 0 0 0 0; font-size: 16px;}
input:hover, textarea:hover {border: 1px solid #A9A9A9;}
input:focus, textarea:focus, input.sffocus, textarea.sffocus {border: 1px solid #446cb3;}


input.button {border: none; background-color: #000077; color: #fff; cursor:pointer;}
.button.disabled, .button[disabled], fieldset[disabled] .button {
    cursor: default;
    pointer-events: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #DDD !important;
}




p.refresh {margin: 20px 0 20px 20px; color: #666;}
a.button, input.button, table#menuTbl th {background: #8C1515; color: #fff; padding: 7px 20px; margin-right: 20px; margin-bottom: 10px; border-radius: 5px; font-size: 20px; font-weight: 600;}
a.button:hover, input.button:hover, table#menuTbl th:hover, table#menuTbl th.active:hover {text-decoration: none; background: #600e0e; color: #fff;}

#app-actions a.button {background: #A8B1BB; color: #fff;}
#app-actions a.button:hover {background: #6b7989; color: #fff;}

table#menuTbl th {background: #8C1515;}
table#menuTbl th:hover, table#menuTbl th.active:hover {background: #600e0e;}

a.addmorebutton {background: #337AB7; color: #fff;  padding: 5px;  margin-right: 20px; margin-bottom: 10px; border-radius: 5px; font-size: 15px; font-weight: 600;}
a.addmorebutton:hover {text-decoration: none; background: #286090; color: #fff;}

a.removemorebutton {background: #D9534F; color: #fff;  padding: 5px;  margin-right: 20px; margin-bottom: 10px; border-radius: 5px; font-size: 15px; font-weight: 600;}
a.removemorebutton:hover {text-decoration: none; background: #C9302C; color: #fff;}

div.addMoreAction{margin-top:10px; margin-bottom:17px;}

table#menuTbl th {padding: 4px 20px !important; margin: -3px 0 0 10px !important; border-radius: 5px; font-size: 16px; font-weight: 400; display: inline-block;}

table#menuTbl th.active {background: #163874; color: #FFFFFF;}

form label span {color: red;}


.linklist input.textbox {width:118px;}
#advsearch form {padding: 3px 2px;}
#advsearch tr.fields input {margin-bottom: 10px;}

.switcher fieldset {border: none; margin:0; padding:0; float: right;} 
head+body .switcher fieldset {margin:0 0 5px 0;} 


.field-validation-error {
        color: #FF0000;
}

.field-validation-valid {
        display: none;
}

.validation-summary-errors {
        color: #FF0000;
}

.validation-summary-valid {
        display: none;
}


#listing, .listing {clear: both; overflow: visible; height: 100%;}
.tbllist {width: 100%; border-bottom: 2px solid #666;} 
.tbllist td {margin:0; padding: 0;}
head+body .tbllist td {margin:0; padding: 2px 0 2px 0;}
.listmeta {overflow: hidden; padding: 2px; position: relative;}
.listmeta span.left {display: block;}
.listmeta span.right {display: block; position: absolute;}
.meta-top span.right {right: 13px; top:6px;}
.meta-bottom span.left {padding-bottom: 2px;}
head+body .meta-bottom span.left {padding-bottom: 0;}
.meta-bottom span.right {right: 13px; top:0;}
head+body .listmeta span.left {display: block; position: relative; right: auto; top:auto; float: left;}
head+body .listmeta span.right {display: block; position: relative; right: auto; top:auto; float: right;}
head+body .tbllist input.checkbox {margin-left: 3px;}

p.recsperpage {text-align: right; border-bottom: 1px solid #fff;}


#lyrForm table tr td, #lyrForm table tr th {margin: 0; padding: 0 10px 5px 0;}








body {background: #F9F9F9; margin-bottom: 40px;}
#wrapcontent .priblue {background: #cef;} 
.linklist li, .linklist ul, .linklist marquee {border-color: #fff; display:block; color:#fff;}
.linklist li a, .linklist marquee {background: #182488; padding:3px;}
.linklist li a:link, .linklist li a:visited {text-decoration: none; display:block; color: #fff;}
.linklist li a:hover, .linklist li a:active {background: #F90B18; display:block;}
.linklist form {background: #CCCCE0; border: 1px solid #fff; border-top:none; padding: 2px;}
input.clickable, input.btnSmall {
     background: #8C1515; color: #fff; border: none;
     cursor: pointer;     
} 
input.btnSec {background: #666;} 
input.clickable, input.btnSec, input.btnSmall {color: #fff; font-size: 13px; border-radius: 3px;}
input.clickable:hover, input.btnSec:hover, input.btnSmall:hover {background: #8C1515; color: #fff;}
input.clickable:hover, input.btnSec:hover {}
input.clickable:hover, input.btnSmall:hover {
     cursor: hand;     
}
input.btnSmall {width: 19px; height: 19px; padding: 0; vertical-align: bottom;}  
.contactsearch {background: #ffc; border: 1px solid #ddd;}
ul.tabs li a {border: 1px solid #182488; border-bottom:none;}
#advsearch ul.tabs li a {border: 1px solid #ddd; border-bottom:none;}




body {font-size: 16px; font-family: 'Open Sans', Calibri, Arial, Helvetica, sans-serif;}
body.f-default {font-size: 16px;}
body.f-large {font-size: 18px;}
input, textarea, select, .btnMenu {font-family: 'Open Sans', Calibri, Arial, Helvetica, sans-serif;} 


h1, #wrapadminlinks, #wrapnav {font-family: 'Open Sans', Calibri, Arial, Helvetica, sans-serif; text-rendering: optimizeLegibility;} 
h2, h3, h4, .subtitle, .content-block .menu li {font-weight: 600;} 
h1, h2, h3, h4, #wrapadminlinks, #wrapnav, #quick-links li {letter-spacing: 0;}



.passLogin {
     font-family: Arial, Helvetica, sans-serif;
}


h1 {font-size: 30px;} 
h2 {font-size: 36px;} 
h3 {font-size: 24px;} 
h4 {font-size: 1.1em;} 
body .linklist  {font-size: 12px !important;}
.linklist marquee {font-size: .9em;}
input, textarea, select {font-size: 16px;}
.switcher select, .quicksearch input.search {color: #666;}


h3, h4 {color: #182488;}
#wraphdr {color: #1F5979;}
#wraphdr a {color: #1F5979;}
#wrapadminlinks a.active {color: #1F5979;}

#wraphdr a.linkhelp {padding: 0 2px 2px; color: #182488;}
#wraphdr a.linkhelp:link, #wraphdr a.linkhelp:visited {background: #fd0; text-decoration: none;}
#wraphdr a.linkhelp:hover, #wraphdr a.linkhelp:active {background: #fff;}
.linklist li a {text-decoration: none;}

ul.tabs li a {background: #182488; color: #fff;}
ul.tabs li.active a, ul.tabs li.active a:hover, ul.tabs li.active a:active  {background: #ffc; color: #182488;}
ul.tabs li a:link, ul.tabs li a:visited {text-decoration: none;}
ul.tabs li a:hover, ul.tabs li a:active {background: #182488; color: #fd0;}


.listmeta {font-size: .75em; border: 1px solid #182488; background: #FFFFCC;}
.meta-bottom {border-top: none;}
.listmeta {color: #666;}
.tbllist .odd {background: #eee;}
.tbllist .headerList, .tbllist .headerList input {background: #6B7989; color: #fff;}
.tbllist .flagged {background: #F2DCDB;}
.tbllist tr td {padding-top: 10px !important; padding-bottom: 10px !important;}
.tbllist tr.tag-row td {padding-top: 0 !important;}
.tbllist tr.headerList td {padding-top: 0 !important; padding-bottom: 0 !important;}

.tbllist tr.headerList:hover {background: #6B7989;}
.tbllist td.borderbottom {border-bottom: 1px solid #446cb3;}
.tbllist .expanded-row:nth-child(odd) td {background: #eee !important;}
.tbllist .expanded-row:nth-child(even) td {background: #fff !important;}
.tbllist .expanded-row:hover td {background: #ffc !important; cursor: pointer;}




#wraphdr {
     height: auto !important;
     background: #fff;
     z-index: 10; overflow: visible;
     border-bottom: none !important;
     padding: 0;
}

#wraphdr h1 {font-size: 30px; line-height: 1.1em; color: #888; font-weight: 300;}
#wraphdr h1 {margin-left: 15px; padding: 19px 0 0 0px;}
#wraphdr h1 {position: absolute;}
#wraphdr h1 img {padding-right: 15px; float: left;}
#wraphdr h1 span {display: block; float: left; padding-left: 15px; border-left: 1px solid #fff; line-height: 45px;}

#wrapprinav {margin-top: 19px;}
#wrapprinav .navpri3 {margin-right: 30px;}
#wrapadminlinks {margin: 0;}

#wrapprinav .navpri3, #wrapadminlinks {float: left; position: relative;}

#wrapadminlinks ul ul {position: absolute; display: none; right: 0; padding-top: 16px; background-color: #FFFFFF;}
#wrapadminlinks ul:hover ul {display: block; border-bottom: 1px solid #D2C295;}
#wrapadminlinks ul ul li {line-height: 36px; text-align: right; border-top: 1px solid #D2C295; background: #FFFFFF; width:100%; text-align: left;}
#wrapadminlinks ul ul li a {line-height: 36px; min-width: 150px; }

a.loginname {margin-right: 15px;}
a.loginname:before {position: absolute; right: 15px; top: 18px;}
a.loginname:before {content: ''; display: block; width: 0; height: 0;}
a.loginname:before {border: solid; border-width: 8px 6px; border-color: #ddd transparent transparent transparent;}


.clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
        }
* html .clearfix             { zoom: 1; } 
*:first-child+html .clearfix { zoom: 1; } 



#wrapnav {margin: 0; overflow: visible; border-top: 1px solid #fff;}

#wrapprinav {float: right;}
.navpri3, .wrapadminlinks {float: left;}
#wrapprinav ul {font-size: 20px;}

#wrapprinav ul {background: #fff;}
#wrapprinav ul li a {padding: 8px 20px 5px 20px; display: block; font-weight: 300;}
#wrapprinav a:link, #wrapprinav a:visited {color: #4D4F53; text-decoration: none;}
#wrapprinav a:hover, #wrapprinav a:active {color: #8C1515; text-decoration: none;}
#wrapprinav li.active a {color: #8C1515;}

.navpri3 li {position: relative; padding-bottom: 10px;}
.navpri3 ul {position: absolute; display: none; left: 0; padding-top: 16px; min-width: 160px; border-top: 16px solid transparent;} 
.navpri3 li:hover ul {display: block; border-bottom: 1px solid #6B7989;}
.navpri3 ul li a {line-height: 36px; min-width: 160px; text-align: left; border-top: 1px solid #6B7989; background: #F6F6F6;}
#wrapprinav li.active li a:link, #wrapprinav li.active li a:visited {color: #4D4F53;}
#wrapprinav li.active li a:hover, #wrapprinav li.active li a:active {color: #8C1515;}

#wrapsubnav {margin-top: 70px;}
#wrapsubnav {background: #8C1515;}

#wrapsubnav ul {overflow: hidden;}
#wrapsubnav li a {height: 50px; padding: 0 15px 0 15px; display: block; font-size: 16px; line-height: 50px; font-weight: 400;}
#wrapsubnav a:link, #wrapsubnav a:visited {color: #DAD7CB; text-decoration: none;}
#wrapsubnav a:hover, #wrapsubnav a:active {color: #fff; text-decoration: none;}
#wrapsubnav li.active a {color: #fff;}

.bkgd-color, .bkgd-color tr {background: #8C1515 !important;}
.add-border {height: 5px !important; border-bottom: 1px solid #8C1515;}



.breadcrumbs, .breadcrumbs li {display: block; list-style-type: none; float: left; margin:0; padding:0;}

.breadcrumbs {width: 100%; margin-bottom: 10px;}
#wrapbcrmbs li:last-child {background: none;}


.breadcrumbs li {height: auto; font-size: 16px; line-height: 30px; color: #4D4F53;} 
.breadcrumbs li {padding: 0 10px 0 25px;}
.breadcrumbs li:first-child {padding-left: 15px;}
.breadcrumbs li a:link, .breadcrumbs li a:visited {text-decoration: none; color: #000;}
.breadcrumbs li a:hover, .breadcrumbs li a:active {text-decoration: underline;}

.breadcrumbs li {position: relative;}
.breadcrumbs li:last-child {border-right: none;}

.breadcrumbs li:after {position: absolute; top: 8px; right: -16px;}
.breadcrumbs li:after {content: ''; display: block; width: 0; height: 0;}
.breadcrumbs li:after {border: solid; border-width: 7px 7px; border-color: transparent transparent transparent #fff;}

.breadcrumbs li:last-child:after {border: none;}

.breadcrumbs li span:after {position: absolute; top: 8px; right: 4px; right: -18px;}
.breadcrumbs li span:after {content: ''; display: block; width: 0; height: 0;}
.breadcrumbs li span:after {border: solid; border-width: 7px 7px; border-color: transparent transparent transparent #4D4F53;}
.breadcrumbs li:last-child:after, .breadcrumbs li:last-child span:after {border: none;}


.contenttitle {background: #6B7989; border-top-left-radius: 3px; border-top-right-radius: 3px; float: left; width: 100%;}
.contenttitle h2 {line-height: 1.6em; margin: 0 20px; padding: 6px 0 4px 0; font-size: 24px; color: #fff; font-weight: 300;}
.contenttitle .app-title {font-size: 20px; padding: 0 20px 20px 20px; overflow: hidden; color: #fff; position: relative; margin-bottom: 20px;}

.contenttitle .app-title p {font-weight: 300; line-height: 1.5em;}
.contenttitle .app-title .title {float: left;}
.contenttitle .app-title .right-title {float: right;}
.contenttitle .app-title .title p, 
.contenttitle .app-title .right-title p {font-weight: 600; font-size: 24px}

.contenttitle .app-title .meta {clear: both; margin:0; padding-top: 0;}
.contenttitle .app-title .meta p {padding-top: 0;}

.contenttitle .app-title a:link, .contenttitle .app-title a:visited {color: #fff;}
.contenttitle .app-title .meta-status {position: absolute; right: 20px; bottom: 20px;}


.listing {background: #fff; margin: 0; padding-top: 0;}

table#menuTbl th:first-child {border-top-left-radius: 3px;border-bottom-left-radius: 3px; border-left: none;}
table#menuTbl th:last-child {border-top-right-radius: 3px;border-bottom-right-radius: 3px; border-right: none;}

.content-block {margin-bottom: 30px; border-bottom: 2px solid #ccc;}
#lyrForm {margin: 0 20px 20px 20px;}



.listing ul {list-style: none; padding: 0;}

.listing li {margin: 0; padding: 10px 20px; background: #fff; clear: both; overflow: hidden;}
.listing li:nth-child(even) {background: #F2F2F2;} 

.listing .list-title {font-size: 20px;}
.listing .list-title, .listing .list-detail, .listing .list-type, .listing .list-meta, .listing .list-detail {line-height: 1.4em;}
.listing .list-type, .listing .list-meta, .listing .list-detail {color: #999;}
.listing .list-meta span {color: #999;}

.listing .list-detail {float: right;}

.subtitle {font-size: 20px; background: #6B7989; padding: 0 20px 5px 20px; line-height: 1.5em; overflow: hidden; color: #fff; position: relative;}
.subtitle.extension {background: #446cb3;}
.tApp .subtitle, .tAppProfile .subtitle {border-top: 20px solid #fff;}
.subtitle p {font-weight: 300;}
.subtitle .title {float: left;}
.subtitle .right-title {float: right;}

.subtitle .meta {clear: both; font-size: 16px; margin:0; padding-top: 0;}
.subtitle .meta p {padding-top: 0;}

.subtitle a:link, .subtitle a:visited {color: #fff;}
.subtitle .meta-status {position: absolute; right: 20px; bottom: 6px; font-weight: 300; font-size: 16px;}





.button-list {padding: 10px 10px 20px 10px; overflow: hidden}
.button-list ul {list-style: none; padding: 0;}

.button-list li {margin: 0; background: #fff; clear: both; width: 49%; display: inline-block; padding: 0;}
.button-list li a {display: block; margin: 10px 10px 0 10px; text-align: center; font-size: 16px;}

.content-nav ul {padding: 0; list-style: none; border-bottom: 1px solid #eee;}
.content-nav li {margin: 0; display: inline-block; padding: 0;}
.content-nav a {font-weight: 600; padding: 10px 20px; display: block; font-size: 14px; margin: 0 -4px 0 0;}
 
.content-nav a:link, .content-nav a:visited {color: #999;}
.content-nav a:hover, .content-nav a:active {color: #000; background: #eee; text-decoration: none;}
.content-nav .active a {background: #eee; color: #000;}



#wrapfooter {margin: 0 20px; border-top: 2px solid #999;}
#wrapfooter, #wrapfooter a {color: #999;}



.BodyText ul {padding:0;}
.BodyText li {margin: 0 !important; padding: 0; background: none !important; font-size: 16px; line-height: 1.6em;}

#contentblue {background-color: #cef;}
#fullname {font-size: 24px; font-weight: 600;}
#checkbox {background-color: #fff; border: 0px solid #fff;}
#radio {border: 0;}


.priblue {position: relative;}
.priblue {width: 100%;} 
.priblue {margin: 0 20px 0 -40px;} 
#wrapbcrmbs .priblue {padding: 10px 0 10px 10px;}
#wrapcontent .priblue {padding: 0 10px 10px 10px;}

head+body #wrapbcrmbs .priblue {padding: 10px 0 10px 10px; margin:0 0 10px 0;} 
head+body #wrapcontent .priblue {padding: 0 10px 10px 10px; margin:0;} 

.xSec #wrapbcrmbs .priblue, .xSec #wrapcontent .priblue {margin:0 20px 0 0;}



#wrapcontent .priPopUp {
     background-color: #fff;
     margin-left: -200px;
     padding:10px
}

.mytable td {
     font-size: 11px;
}

.linklist ul li, .linklist ul li a {color: white;}
.sectionType {color: black;}


#wrapcontent .sec .linklist marquee {background-color: #C0C0C0; color: #000; border: 1px solid #182488;}



a.calLink, a.calLink:active, a.calLink:visited {
     text-decoration: none;
}

a.calLink:hover {
     text-decoration: underline;
}



.RichTextEditor
{
     width: 600px;
}



.field-validation-valid
{
     color: #f00;
}


#lyrForm td
{
     padding: 5px;
}

#lyrForm input[type="text"]
{
        width: 300px;
}



.errorBox {
    border: 1px solid #ff0000;
    padding: 10px 10px 10px 55px;
    color: #D63301;
    background: #FFF url(/contents/images/box-validation.gif) left center no-repeat;
    background-position: 15px;
    margin-bottom: 15px;
}

.errorBox p
{
    padding: 0 0 5px 0;
}

.errorBox ul
{
    margin: 0 0 0 25px;
    list-style-type: disc !important;
}

.errorBox ul li
{
    padding: 0 0 5px 0;
}
#lyrForm {padding-top: 10px !important;}
.footer {font-size: 0.7em; width: 100%; bottom: 0;}
.align-center {text-align: center;}
.thin-text {font-weight: 400; color: #626C72;margin-left: 25px;}
