
.hidden
{
  display: none;
}
.invisible
{
  visibility: hidden;
}

.help-message {display: none;}
.help-message {position: relative; padding: 1px 10px;}
.help-message {background: #3489B5; color: #fff;}


input.error , select.error, textarea.error
{
  border: 1px solid red !important;
}
label.error
{
  color:red; padding-left: 10px;
}


.error-placement {
  margin: 10px 0px 20px 0px;
  background: #DB4437;
  color: #FFF;

}
.error-placement label.error
{
  color: #FFF;
  display: inline-block;
  width: 100%;
}



.btnMenu
{
  cursor: pointer;
}



.btn-adv_search_filter
{
  width: 100px;
}






.styled-dropdown, .dropdown {position: relative;}
.dropdown .dropdown-input {display: block; margin-right: 34px; cursor: default;}
.dropdown .dropdown-input:hover {border: 1px solid #4285F4;}

.dropdown .dropdown-button {display: block; position: absolute; right: 0; cursor: default;}
.dropdown .dropdown-button {width: 34px; height: 100%; padding-top: 5px; background: #4285F4; color: #fff; text-align: center;}

.dropdown + .dropdown-options {width: 577.75px; position: relative; list-style-type: none; padding: 0; margin: 0; border: 1px solid #4285F4; border-top: none; z-index: 5; display: none;}
.dropdown + .dropdown-options li {margin:0px; padding: 6px 8px; border-bottom: 1px solid #A9A9A9; background: #fff;}
.dropdown + .dropdown-options li:last-child {border-bottom: none;}
.dropdown + .dropdown-options li:hover {background: #4285F4; color: #fff;}
.dropdown + .dropdown-options {max-height: 400px; overflow-y: auto;}



@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('/fonts/Flat-UI-Icons.eot');
  src: url('/fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('/fonts/Flat-UI-Icons.woff') format('woff'), url('/fonts/Flat-UI-Icons.ttf') format('truetype'), url('/fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fui-radio-unchecked, .fui-radio-checked, .fui-checkbox-unchecked, .fui-checkbox-checked
{display: inline-block; font-family: 'Flat-UI-Icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased;}
.fui-radio-unchecked:before {content: "\e02b";}
.fui-radio-checked:before {content: "\e032";}
.fui-checkbox-unchecked:before {content: "\e033";}
.fui-checkbox-checked:before {content: "\e034";}
.fui-calendar-solid:before {content: "\e022";}

.checkbox, .radio {margin-bottom: 12px; padding-left: 32px; position: relative;}
.checkbox, .radio {-webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; transition: color 0.1s linear; -webkit-backface-visibility: hidden;}

.checkbox input, .radio input {outline: none !important; display: none;}
.checkbox .icons, .radio .icons {color: #CDCDCD; display: block; height: 20px; left: 0; position: absolute; top: 0; width: 20px; text-align: center; line-height: 20px; font-size: 20px;}
.checkbox .icons, .radio .icons {-webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; transition: color 0.1s linear; -webkit-backface-visibility: hidden;}
.checkbox .icons .first-icon-icon, .radio .icons .first-icon-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {position: absolute; left: 0; top: 0; opacity: 1; filter: alpha(opacity=100);}
.checkbox .icons .second-icon, .radio .icons .second-icon {opacity: 0; filter: alpha(opacity=0);}
.checkbox:hover .first-icon, .radio:hover .first-icon {opacity: 0; filter: alpha(opacity=0); color: #A9A9A9;}
.checkbox:hover .second-icon, .radio:hover .second-icon {opacity: 1; filter: alpha(opacity=100); color: #A9A9A9;}
.checkbox.checked, .radio.checked {color: #4285F4;}
.checkbox.checked .icons, .radio.checked .icons {color: #4285F4;}
.checkbox.checked .first-icon, .radio.checked .first-icon {opacity: 0; filter: alpha(opacity=0);}
.checkbox.checked .second-icon, .radio.checked .second-icon {opacity: 1; filter: alpha(opacity=100);}
.checkbox.disabled, .radio.disabled {cursor: default; color: #ddd;}
.checkbox.disabled .icons, .radio.disabled .icons {color: #ddd;}
.checkbox.disabled .first-icon, .radio.disabled .first-icon {opacity: 1; filter: alpha(opacity=100);}
.checkbox.disabled .second-icon, .radio.disabled .second-icon {opacity: 0; filter: alpha(opacity=0);}
.checkbox.disabled:hover .first-icon, .radio.disabled:hover .first-icon {color: #ddd;}
.checkbox.disabled.checked .icons, .radio.disabled.checked .icons {color: #ddd;}
.checkbox.disabled.checked .first-icon, .radio.disabled.checked .first-icon {opacity: 0; filter: alpha(opacity=0);}
.checkbox.disabled.checked .second-icon, .radio.disabled.checked .second-icon {opacity: 1; filter: alpha(opacity=100);}
.checkbox.disabled.checked:hover .second-icon, .radio.disabled.checked:hover .second-icon {color: #ddd;}

span.required {color: red;}

.styled-form label, .styled-form legend {display: block; clear: both; margin: 20px 0 5px 0;}
.styled-form label.radio, .styled-form label.checkbox {margin: 5px 0; padding-left: 27px;}
.styled-form input {display: block; clear: both; margin: 0 0;}
.styled-form fieldset label input {display: inline; clear: none;}

.inline-input .input label {display: inline-block; margin-right: 20px;}
.inline-input .input label:last-child {margin-right: 0;}

.styled-form .form-row {position: relative;}

.checkbox input, .radio input
{
  outline: medium none !important;
  display: none !important;
}

input[type="checkbox"], input[type="radio"]
{
  box-sizing: border-box;
  padding: 0px;
}

html, button, input, select, textarea
{
  color: #222;
}
html, button, input, select, textarea
{
  font-family: sans-serif;
}
html
{
  font-size: 100%;
}


.dropdown
{
  width: 577.75px;
  height: 30px;
}

.styled-form .dropdown input[type="text"]
{
  width: 560px;
}

.fotf-dropdown-w-textbox .dropdown
{
  width: 185px;
  margin: 0px 20px 0px 0px;
}

.styled-form .fotf-dropdown-w-textbox .dropdown input[type="text"]
{
  width: 168px;
}

.fotf-dropdown-w-textbox .dropdown-options
{
  width: 185px;
}

.fotf-dropdown-w-textbox div.input
{
  float: left;
}


.question-text
{
  width: 80%
}

.app-section h1, .app-section h2, .app-section h3, .app-section h4, .app-section h5, .app-section h6 {font-weight: 300; margin: 24px 0;}
.app-section h1 {font-size: 36; line-height: 1.111;} 
.app-section h2, .app-section h3 {font-size: 30px; line-height: 1.333;} 
.app-section h4 {font-size: 24px;} 
.app-section h5 {font-size: 20px;} 
.app-section h6 {font-size: 16px; font-weight: 300;} 

.wordcount-group td
{
  padding-bottom: 4px;
}



a.small-action, input.small-action
{
  font-size: 16px;
  padding: 4px 12px;
  margin: 0px 5px;
}


.popup-pri
{
  width: 90%;
  float: left;
}

.popup-wrapdoc
{
  min-width: 1024px;
}


.filter-label
{
  width: 40px;
}

.filter-value
{
  width: 300px;
}


.px13answer
{
  font-size: 14px;
}

.printtitle .px13, .printtitle .px13b
{
  margin: 0px;
}

.dialog-row
{
  border-spacing: 10px;
}


a.orientation-form
{
  padding-left: 40px !important;
}


.answer p.answer-value
{
  padding-top:0px;
}

label.error
{
  vertical-align: top;
}


.printcontact {width: 50%; float: left; clear: left;}
.printpeoplesoft {width: 50%; float: left; clear: right;}
.printquestion {clear: both;}
 

.print * {box-sizing: border-box;}
.print p {line-height: 1.4em; font-size: 14px;}
 
.print .title {font-size: 20px; padding: 0;}
.print h1, .print h2, .print h3, .print h4, .print h5, .print h6 {font-size: 18px !important; padding: 0; line-height: 1.4em !important; margin: 15px 0 0 0 !important; font-weight: 400 !important; font-family: Source Sans Pro, Arial; color: #000 !important;}
.print .title + .title {font-size: 18px; font-weight: 300;}
.print .subtitle {font-size: 18px ; background: transparent; padding: 0; line-height: 1.4em; font-weight: 400; margin: 10px 0 0 0; color: #222;}
 
.print .question {font-weight: 700; font-size: 13px;}
.print .answer span {color: gray; font-style: italic;}
 
.print br {display: block;}
.printcontact .answer, .printpeoplesoft .answer {padding: 0; margin: 0;}